.navbar {
    background-color:#FFDAB9;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    border-radius: 5px;
    border: solid 2px;
    margin-top: 5px;   
  }
  
  .link {
    color: rgb(110, 110, 110);
    border-radius: 15px;
    border: solid 1px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .link:hover {
    background-color: #ddd;
    color: black;
    border-radius: 15px;
    border: solid 1px;
  }